* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
.wrapper {
    width: 1401px;
    margin: 0 auto;
}

.container {
    width: 89%;
    margin: 0 auto;
}
/*=========================NavBar*/
.navbar {
    background: black;
    padding-bottom: 31px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__list {
    display: inline-block;    
}

.navbar__logo {
    display: inline-block;
    width: 79px;
    height: 27px;
    margin-right: 582px;
    padding-top: 21px; 
}
  
.navbar__link {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 440px;
    margin-top: 29px;
    margin-left: 46px;
    text-decoration: none;
} 

.navbar__link:hover {
    text-decoration: underline;
}

/*======================HEADER*/

header{
    display: inline-block;
    width:1401px;
    height: 641px;
    margin-right: 0;
    padding-top: 0; 
    background-image: url(../img/image-axit.png); 
}

.header_column{
    display: inline-block;
    margin-bottom: 140px;
}

.header_section{
    margin-top: 109px;
}
h1{
    width: 512px;
    height: 70px;
    margin-top: 33px;
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.header_white{
    width: 74px;
    height: 2px;
    color: white;
    margin-top: 80px;
    margin-left: 18px;
}
.header_text{
    width: 461px;
    height: 61px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 36px;
}

.header_button{
    width: 135px;
    height: 42px;
    margin-top: 44px;
    background-color: transparent;
    color: white;    
}

/*------ПЕРЕСМОТРЕТЬ-------header form*/

.header_form {
    display: inline-block;
    text-align: center;
    width: 360px;
    margin-top: 139px;    
    padding: 0;

}
.intro__form {
    margin-left: 320px;
    border: none;
    border-radius: 5px;
    width: 360px;
    height: 360px;
    background: white;
    font-family: 'Open Sans', sans-serif;
    position: top;
}
.form__title {
    padding: 18px 0 15px;
    border-radius: 5px 5px 0 0;
    background: lightgray;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}
.form__title span {
    text-transform: uppercase;
    color: #FF8B38;
}

.form__group {
    padding: 0 40px 100px;
}

.form__username {
    border: none;
    padding-top: 30px;
    font-size: 14px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px rgb(190, 190, 190) solid;
}

.form__useremail {
    border: none;
    padding-top: 40px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border-bottom: 1px rgb(190, 190, 190) solid;
}

.form__userpassword {
    border: none;
    padding-top: 50px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border-bottom: 1px rgb(190, 190, 190) solid;
}

.form__button {
    border: none;
    padding: 23px 140px;
    border-radius: 0 0 5px 5px;
    text-transform: capitalize;
    color: white;
    background: #FF8B38;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

/*------------Social Media*/


.social_media{
    display: inline-block;  
    background: white;
    margin-bottom: 22px;
    
}

h3{
    width: 122px;
    height: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding-top: 23px ;
      
}

.social_media_text{
    width: 360px;
    height: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878B;  
    padding-top: 52px;
    margin-bottom: 22px;
      
}

.social_media_icons{
    display: inline-block;
    width: 882px;
    height: 46px;
    font-size: 48px;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.social_media_icons img {
    margin-right: 40px;
    margin-bottom: 22px;
    filter: grayscale(50);
}

/*-----------------------features*/

.features{
    padding-top: 160px;
    padding-block-start: 114px;
    padding-left: 80px ;
    background: #F5F5F5;
}

.vertical_tab{
    display: inline-block;
    margin-right: 99px;
    padding-bottom: 114px;
}

.tab_upper{
    font-size: 15px;
    font-weight: 700px;
    color: #ffffff;
    padding: 50px 35px;
    background: #FF8B38;
    border-bottom: 1px solid white;
}

.tab_middle{
    font-size: 15px;
    font-weight: 700px;
    color: #ffffff;
    padding: 50px 35px;
    border-bottom: 1px solid white;
    background: #333333;
}

.tab_lower{
    font-size: 15px;
    font-weight: 700px;
    color: #ffffff;
    padding: 50px 35px;
    border-bottom: 1px solid white;
    background: #333333;
    
}

.features_text{
    display: inline-block;
    margin-right: 100px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
}    

h4{
    width: 344px;
    height: 21px;
    font-size: 20px;
    color: #000000;
    font-weight: bold; 
}

.desk{
    padding-top: 52px;
    width: 476px;
    height: 132px;
    font-size: 14px;
    line-height: 1.7;
    color: #86878B;
}



.features_button{
    width: 121px;
    height: 46px;
    border-radius: 7%;
    margin-top: 20px;
    background-color: #FB8D34;
    color: white; 
}

.features_city{
    display: inline-block;
    margin-right: 50px;
    vertical-align: top;
}

/*-----------------Our Process*/

.our_process_header{
    display: inline-block;
    width: 1400px;
    text-align: justify;
    padding-top: 107px;
    padding-bottom: 105px;
}

.process_header{
    text-align: center;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400px;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
}

.subtitle {
    color: #86878B;
    font-size: 14px;
    font-weight: 400px;
    
}

.subject {
    margin: 29px 0;
    font-size: 20px;
    font-weight: 700px;
    color: #333333;
    text-align: center;
}

hr {
    width: 64px;
    height: 2px;
    border: none;
    background: #FF8B38;
    margin: 30px auto;
}

.process_main {
    
   
    text-align: center;
}

.pic {
    display: inline-block;
    width: 350px;
    margin-top: 80px;
    margin-right: 20px;
   
}

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}

p {
    font-size: 14px;
    font-weight: 400px;
    color: #86878B;
}

.icon--lamp {
    background: url(../img/lamp.png) no-repeat center;
}

.icon--keyboard {
    background: url(../img/keyboard.png) no-repeat center;
}

.icon--lightning {
    background: url(../img/lightning.png) no-repeat center;
}

/*------------------Pricing*/

.pricing{
    width: 1400px;
    height: 884px;
    padding-bottom: 96px;
    background: #F5F5F5;
}

.pricing_header{
    text-align: center;
    padding-top: 107px;
}

.pricing_title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 306px;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
}

.pricing_subtitle {
    color: #86878B;
    font-size: 14px;
    font-weight: 359px;
}

.pricing_slot{
display: inline-block;
width: 1400px;

padding-bottom: 105px;
}

.columns {
    display: inline-block;
   
    float: left;
    width: 377px;
    padding: 16px;
  }
  
.price {
    text-align: center;
    list-style-type: none;
    border: 1px solid #eee;
    height: 40px;
    margin: 0;
    padding: 0;
   
  }

.header_pricing {
    background-color:#333333;
    color: white;
    font-size: 25px;
    text-transform: capitalize;
  }
  
.header_pricing:last-child

.header_pricing span{
    font-size: 35px;
    font-weight: bold;
    margin: 0 auto;
}

.line_pricing{
    width: 343px;
    height: 5px;
    margin: 0 ;
    padding: 0;
    background: #FF8B38;
}

.line_pricing_center{
    width: 343px;
    height: 40px;
    margin: 0 ;
    padding: 0;
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background: #FF8B38;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  
/*-----------------------Testimonials*/
.testimonials{
    display: inline-block;
    width: 1400px;
    text-align: justify;
    padding-top: 109px;
    padding-bottom: 105px;
}

.testimonials_header{
    text-align: center;
}

h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 640px;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
}

.testimonials_subtitle {
    color: #86878B;
    font-size: 14px;
    font-weight: 459px;
    
}

.testimonials__text {
    display: inline-block;
    margin-right: 132px;
    padding-top: 60px;
    width: 273px;
    text-align: center;
}


.message {
    padding: 24px 12px 41px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #97979B;
    background-image: url(../img/message_background.png);
    background-repeat: no-repeat;
}

.user__photo {
    width: 70px;
    height: 70px;  
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
}

.user__data {
    display: inline-block;
    margin-top: 10px;
}

.user__data h2 {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}

.user__data p {
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
}

/*-------------------custom_section*/

.custom_section {
    background-image: url(../img/custom_street.png);  
    background-repeat: no-repeat;
    opacity: 1;
    background-size: cover;
    margin: auto;
    padding: auto;
    height: 321px;
    width: 1401px; 
    text-align: center;
}
  
.custom_header{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 411px;
    text-transform: uppercase;
    padding-top: 76px;
    color: white; 
    margin: 30px auto;
}

.hr-white-line {
    width: 64px;
    height: 2px;
    border: none;
    background: white;
    margin: 30px auto;
}
.custom_title{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 732;
    color: white; 
    margin: auto;
    padding: auto;
}

.but {
    display: inline-block;
    padding-top: 15px;
    margin: 0 16px;
  }
  
.custom_button {
    width: 135px;
    height: 42px;
    background-color: transparent;
    color: white;
    margin: 33px auto;
}  

/*---------------------contact us*/

.contact{
    display: inline-block;
    width: 1400px;
    text-align: justify;
    padding-top: 109px;
    padding-bottom: 105px;
}

.contact_us{
    text-align: center;
}

.contact_title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 226px;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
}

.contact_subtitle {
    color: #86878B;
    font-size: 14px;
    font-weight: 359px;
}

.contacts__form {
    text-align: center;
}

.contacts__data {
    display: inline-block;
    margin-bottom: 43px;
    width: 527px;
}

.contacts__item {
    display: inline-block;
    width: 527px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    outline: none;
}

.contacts__item--email,
.contacts__item--sub {
    padding-top: 30px;
}

.contacts__item::placeholder {
    font-size: 14px;
    font-weight: 400px;
    color: #BDBDBD;
}

.contacts__textarea {
    
    display: inline-block;
    margin-bottom: 43px;
    width: 527px;    
    resize: none;
    margin-left: 66px;
    margin-right: 0;
}

.contacts__item--textarea {
    resize: none;
    overflow: hidden;
    
}

.contacts__textarea::placeholder {
    font-size: 14px;
    font-weight: 400px;
    color: #CFCFCF;
}


.contacts__button {     
    font-size: 15px;
    font-weight: 400;
    padding: 15px 24px;
    width: 148px;
    background: #ff8b38;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

/*---------------------footer*/

footer {
    display: inline-block;
    text-align: justify;
    background:black;
    color:white;
    height: 101px;
    width: 1401px;
    overflow: hidden;
}

.img {
    width: 317px;
    height: 23px;
    padding-top: 15px;
}

.links {
    width: 317px;
    height: 23px;
    margin: 15px 451px;
}
 
.footer_text{
    height: 9px;
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;  
}
